# --- 依赖目录 ---
node_modules/
jspm_packages/
web_modules/
bower_components/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# --- 构建产物  ---
# 通用构建目录
build/
build/Release
dist/
out/
.next/
.nuxt/
.vuepress/dist
.svelte-kit/
**/.vitepress/dist
.cache/
.parcel-cache/
.temp/
.docusaurus/
.serverless/
.fusebox/
.firebase/
.vitepress/cache/

# Electron 特有构建产物 
*.exe
*.dmg
*.tgz

# TypeScript 缓存
*.tsbuildinfo

# --- 日志与诊断  ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# 本地特有日志与数据 
casuallog.md
data/
*.tmp

# --- 运行时数据 ---
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage/
*.lcov
.nyc_output/
.node_repl_history
.tern-port

# --- 环境与密钥 ---
.env
.env.local
.env.*.local
.env.*
!.env.example

# --- IDE 与编辑器  ---
# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
# 本地特别指定忽略设置文件，防止个人配置冲突
.vscode/settings.json 

# IntelliJ IDEA
.idea/

# 其他编辑器
.grunt
.lock-wscript
.eslintcache
.stylelintcache
.vscode-test

# --- 系统文件 ---
.DS_Store
Thumbs.db
desktop.ini
*.pid.lock

# --- 其他框架特定缓存 ---
.npm
.next
.nuxt
.gatsby
.firebase/
.dynamodb/